
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0.02px;
  box-sizing: border-box;
  font-family: 'Circular Black', sans-serif;
  font-size: 50px;
  /* content: 0px; */
}