@use 'core/reset';
@use 'layout/header';
/*@use 'components/code';
@use 'components/links';
@use 'layout/page';

@use 'layout/footer';
@use 'pages/index'; */

.main__titulo3 {
    color: black;
    font-size: 35px;
    justify-content: center;
    padding-top: 45px;
    text-align: center;
    padding-bottom: 60px;
    
}

.main__listas{
    display: flex;
    
    gap: 30px;

    ul {
        list-style-type: none;
        

        .main__benefits {
    
            display: flex;
            flex-direction: column;
            width: 100px;
            height: auto;
            padding-bottom: 60px;
            padding-left: 30px;
        }
        
        .main__benefits-text {
            font-size: 15px;
            display: flex;
            flex-direction: column;
            
        }

        .main__benefits-negrita{
            font-weight: bold;
            font-size: 20px ;

        }

        .main__benefits-text{
            margin-bottom: 30px;
            margin-top: 10px;


        }

        .main__benefit1{
            margin-bottom: 50px;
            margin-top: 15px;

        }
        

    }
    
    
   

}
 




  
  