@use 'core/reset';
@use 'layout/header';
/*@use 'components/code';
@use 'components/links';
@use 'layout/page';

@use 'layout/footer';
@use 'pages/index'; */

.main__titulo3 {
    color: black;
    font-size: 35px;
    justify-content: center;
    padding-top: 45px;
    text-align: center;
    padding-bottom: 60px;
    
}

.main__container{
    display: grid;
    grid-template-columns: 25% 75% ;
    grid-template-rows: 4fr;
    row-gap: 40px;
    margin-bottom: 50px;

    .main__benefits /*imagenes*/ {
        grid-row:span 2fr; 
        width: 100%;
       

        .img{
            size: 10px;
            width: 70%;         
            display: flex;
            flex-direction: column;
           justify-self: center;
            

        }
           
      /*   width: 10px;
        height: auto;
        padding-bottom: 60px;
        padding-left: 30px; */
    }

    .main__benefits-text{
        grid-column:span 2;
        
        font-size: 20px;
    padding-top: 10px;
        


    }

    .main__benefits-negrita{
        grid-column:span 2;
      
        font-size: 25px;
        font-weight: bold;


    }





      

    
      /*   list-style-type: none;
        

      
        
        .main__benefits-text {
            font-size: 15px;
            display: flex;
            flex-direction: column;
            
        }

        .main__benefits-negrita{
            font-weight: bold;
            font-size: 20px ;

        }

        .main__benefits-text{
            margin-bottom: 30px;
            margin-top: 10px;


        }

        .main__benefit1{
            margin-bottom: 50px;
            margin-top: 15px;

        } */
      
        
        .main_texto{
            display: flex;
            flex-direction: column;
           justify-content: center;


        }


    
    
   

}
 




  
  