<header> 
  <section class="header__seccion-negra"> 
      <img  src="./images/logo.png" id="header__imagen1" alt="logo spotify"> 
      <img  src="./images/menu-icon.png" class="header__imagen2" alt="rallitas">  
      

  </section> 

  <section class="header__seccion-azul">
      <h1 class="header__titulo1">
          Prueba Premium<br> gratis 3 meses
      </h1>
      <h3 class="header__titulo2">

          Escucha millones de canciones sin<br> anuncios, a la carta y sin<br> conexión.

      </h3>

      <div class="header__contenedor-boton">
          
         <button class="header__boton"> 
          
              VER PLANES 

         </button>
      
      </div>

      <p class="header__parrafo">
          Rigen términos y condiciones. Los tres meses gratis no están<br> disponibles para usuarios que ya hayan probado Premium. <!--media-->
      </p>
     
  </section>



</header>