
<main>
  <h2 class="main__titulo3"> 
      ¿Por qué pasarte a<br> Premium?<!--media-->

  </h2>

  <section class="main__listas">
      <ul > 
          <li class="main__benefits">
              <img src="./images/benefit-1.png" alt="benefit-1">
      
          </li>

          <li class="main__benefits">
              <img src="./images/benefit-2.png" alt="benefit-2"> 
            
          </li>

          <li class="main__benefits">
              <img src="./images/benefit-3.png" alt="benefit-3">
            
          </li>

          <li class="main__benefits">
              <img src="./images/benefit-4.png" alt="benefit-4"> 
              
          </li>

      </ul>
      <div class="main__texto">
      <ul > 
          <div class="main__benefit1">
              <li class="main__benefits-negrita">
               Descarga música</li>
              <li class="main__benefits-text">
              Llévala siempre contigo.</li>  
          </div>
          <div class="main__benefit1">                                 
              <li class="main__benefits-negrita">
              Sin anuncios.</li>
              <li class="main__benefits-text">
              Disfruta de música sin interrupciones.</li>
          </div>
          <div class="main__benefit1">                  
              <li class="main__benefits-negrita">    
              Escucha lo que quieras</li>
              <li class="main__benefits-text">
              Incluso en el móvil.</li>
          </div>
          <div class="main__benefit1">
          <li class="main__benefits-negrita">
              Salta todas las canciones que quieras. </li>
          <li class="main__benefits-text">
              Simplemente dale a siguiente.</li>
          </div>                

      </ul>
      </div>

  </section>


</main>
